#logo {
	width: 50%;
	height: 30%;
	margin: auto;
	margin-top: 5%;
}
#logo img {
	width: 100%;
	height: 100%;
}
#create:link, #create:visited {
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	color: black;
	font-family: "Monospace";
	font-size: 40px;
	border-style: solid;
	border-radius: 8px;
	border-width: 2px;
	background-color: white;
	border-color: black;
 
}
#createbutton {
	text-align: center;
	text-decoration: none;
	color: black;
	font-family: "Monospace";
	font-size: 27px;
	border-style: solid;
	border-radius: 8px;
	border-width: 2px;
	background-color: white;
	border-color: black;
	font-family: "Verdana";
	margin-top: 0;

}

#buttoncontainer {
	margin-right: 5%;
	position: relative;
	float: right;

}



#create:hover, #createbutton:hover {
	background-color: #f2f0f0;
	cursor: pointer;
}

#creatediv {
	margin-left:auto;
	margin-right:auto;
	width: 10%;
	height: 5%;
}

#textfield {
	margin-top: 2%;
	margin-left: 4%;
	margin-right: 5%;
	width: 90%;
	border-radius: 5px;
	border-width: 2px;
	border-color: black;
	font-size: 22px;
	font-family: "Verdana";
	resize: none;
}

#textcontainer {
	width:100%;
	height: 68vh;
	margin-top: 1vh;
}

#notediv {
	width: 60vh;
	height: 75vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: 3%;
	border-radius: 8px;
	box-shadow:
    2px 2px 2.8px 2.2px rgba(0, 0, 0, 0.034),
    2px 2px 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    1px 1px 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}


#pwdfield {
	font-size: 18px;
	font-family: "Verdana";
	width: 45%;
	margin-left: 2%;
	background-color: white;
	border-color: black;
	border-radius: 3px;
	display: none;
}

#pnccontainer {	
	margin-left: 5%;
	height: 70%;
	display: flex;
	float: left;
}


#pncfooter {
	width: 100%;
	height: 7vh;
}

#createbuttondiv {
	width: 100%;
	height: 4vh;
	margin-right: 3%;

}

#pwdcheckbox {
	accent-color: black;
	border-color: black;
}